/*-- Use For Custom Styling --*/



/*=============================
   Slider
=============================*/
.wexim .tp-bullet {
    position: relative;
    display: contents;
    background: transparent;
    cursor: pointer;
    box-sizing: content-box;
}

.wexim .tp-bullet .tp-bullet-inner {
    width: 13px;
    height: 13px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    box-sizing: content-box;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.wexim .tp-bullet:not(:last-child) .tp-line {
    height: 20px;
    width: 3px;
    background: white;
    display: block;
    margin: 0 auto;
}

.wexim .tp-bullet {
    position: relative;
    display: contents;
    background: transparent;
    cursor: pointer;
    box-sizing: content-box;
}

.tp-bullet {
    width: 15px;
    height: 15px;
    position: absolute;
    background: rgba(255,255,255,.3);
    cursor: pointer;
}

.wexim .tp-bullet.selected .tp-bullet-inner {
    background: #ff573b;
}

.wexim .tp-bullet.selected .tp-bullet-inner {
    transform: scale(1.4);
    margin-top: 2px;
    background: #ff573b;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.wexim.tp-bullets {
    height: 110px !important;
    width: 19px !important;
    text-align: center;
    display: inline-block;
    position: relative;
}


/*==============================
   SVG
=============================*/
svg {
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 100px;
    display: block;
    z-index: 100;
}
